aenum==3.1.5
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
asynctest==0.13.0
attrs==21.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
cryptography==36.0.0
ecdsa==0.17.0
flatdict==4.0.1
frozenlist==1.2.0
idna==3.3
importlib-metadata==4.8.2
isodate==0.6.0
jmespath==0.10.0
msal==1.16.0
msal-extensions==0.3.0
msrest==0.6.21
multidict==5.2.0
oauthlib==3.1.1
okta==2.3.1
portalocker==1.7.1
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.12.0
pydash==5.1.0
PyJWT==2.3.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jose==3.3.0
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.8
s3transfer==0.5.0
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
typing_extensions==4.0.1
urllib3==1.26.7
xmltodict==0.12.0
yarl==1.7.2
zipp==3.6.0
